body{
  height:auto;
  width:auto;
  overflow: hidden;
}
.dlBtn{
  height: 5ex;
  margin-top: 3.1ex;
  margin-left: 1.5em;
}

#DownloadType{
	margin-top: 5.1ex;
	height:5ex;
	width:auto;
	margin-left: 1.5em;
	padding: .5em;
}

#YTMeView{
  height: auto;
  width: auto;
}
