body{
  height:auto;
  width:auto;
  overflow: hidden;
  margin: 0px;
}
.dlBtn{
  height: 5ex;
  margin-top: 3.3ex;
}

#DownloadType{
	margin-top: 4.1ex;
	height:5ex;
	width:auto;
	margin-right: 1.5em;
	padding: .5em;
}

#YTMeView{
  height: auto;
  width: auto;
}

.label{
  margin-right: 1.5em;
  width: 14em;
}

#TitleBar{
  padding-right: 3em;
  margin-right: 4em;
  border-top: 3px solid #d9d9d9;
  border-left: 2px solid #000000;
}

#MainView{
  border: 1px solid darkgray;
}

#ItemsView{
  display: block;
  /*width: 100%;*/
  /*flex-direction: column-reverse;*/
  /*border-left: 2px solid rgba(128, 128, 128, 0.66);
  margin-left: 1em;*/
  position: absolute!important;
  bottom: 19px;
  right: 0px;
  left: 0px;
  /* border: 2px solid black; */
  border-style: groove;
  height: 460px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}
#ItemsView ul{
  list-style: none;
  font-family: helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  width: 98%;
}
#ItemsView li{
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  align-items: baseline;
}

.mediaTitle{
  padding-bottom: 0px;
    /*padding-bottom: 2em;*/
  /* margin-bottom: 0px; */
  /*display: inline-block;*/
  display:flex;
  flex-direction: column;
  align-self: flex-start;
  padding-right: 1.5em;
}

.mediaElm{
  display: flex;
  flex-direction: row;
  /*position: fixed;height: 5ex;right: 2em;top: 13em;*/
  width: 70%;
  /* float: right; */
}

#ItemsView img{
  display: flex;
  flex-direction: column;
}
